.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    padding: 20px;
}
.no-movies {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}